<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/tekem/IdeaProjects/testNG_Project_coursera">
        <parameter name="username" value="mngr286522"></parameter>
        <parameter name="userPassword" value="rEgEqeg"></parameter>
        <classes>
            <class name="com.guru99.tests.LoginTests">
                <methods>
                    <include name="verifyUserLoginWithValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>